* {margin: 0; padding: 0;}
body{font-size: 0.8/1em; font-family: "trebuchet ms", verdana; color: #808080; background: url("../img/textura.png")}

/*Layout*/
#header {float:left;width:100%; background: #fff;}
	#cabecera {margin:0 auto; width:970px; background: #fff; height: 175px;}
	#menu {float:left; background-image: url(../img/barramenu.png); height: 44px; margin: -8px 0 0; text-align: center; width: 100%;}

#contenedor {margin: 0 auto; width: 970px;}
	#contenido {float: left; width: 100%;}
	#footer {float: left; width: 100%; padding:20px 0px 15px 0px;}
	
	
	/*header de la pagina*/
	 #header #cabecera .menuacc {float: left; font-size: 0.75em; padding: 5px 20px 0;}
				#header #cabecera .menuacc  ul {}
				#header #cabecera .menuacc  ul li{display:inline;}
				#header #cabecera .menuacc  ul li a{text-decoration: none; color:#808080; font-weight:bold;}
				#header #cabecera .menuacc  ul li  a:hover{text-decoration: underline;}
		#header #cabecera .menuid {float: right; padding: 5px 20px 0; }
				#header #cabecera .menuid  ul { margin:0 auto;}
				#header #cabecera .menuid  ul li{display:inline; }
				#header #cabecera .menuid  ul li img{}
				#header #cabecera .menuid  ul li  img:hover{filter: alpha(opacity=50); opacity: .50;}
		#header #cabecera .logo {float:left; margin:-10px 110px; clear: both; content: "."; display: block; height: 0;}
				#header #cabecera .logo  h1.titulo {font-size: 160%; margin: 0 auto; text-align: left; width: 279px; z-index: 2;}
				#header #cabecera .logo  h1.titulo a {background: url("../img/logo.png") no-repeat scroll 0 0 transparent; display: block; height: 136px; width: 730px;}
				#header #cabecera .logo h1.titulo a span {position: absolute; z-index: -1;}
	#header #menu  ul {margin-top: 14px; font-size: 1em; margin: 16px auto 0; width: 970px;}
			#header #menu  ul li{display:inline; padding: 0 35px;}
			#header #menu  ul li a{text-decoration: none; color: #ffffff;  font-weight:bold;}
			#header #menu  ul li  a:hover{color: #cccccc;}
	
	/*contenido de la pagina*/
	
		#contenedor #contenido #slide {margin: 0 auto 15px; width:970px; height: 260px; border-bottom:1px solid #E8E8E8;}
		#contenedor #contenido #columnas{margin: 0 auto; width: 970px; }
		
			#contenedor #contenido #columnas .colizq {margin:0 13px 0;background: #fff; border:1px solid #CCCCCC; border-radius:10px; float: left; width:45%; font-size: 0.75em; }
					#contenedor #contenido #columnas .colizq h2 {color:red; font-size: 1.7em;border-bottom:1px solid #E8E8E8; margin: -5px 0 10px; padding: 7px 0 3px;}
					#contenedor #contenido #columnas .colizq ul {}
					#contenedor #contenido #columnas .colizq ul li {background: url(../img/iconlista.png) 0 3px no-repeat; list-style-type: none; padding: 0 0 5px 15px;}
					#contenedor #contenido #columnas #colheader {height:21px;}
					#contenedor #contenido #columnas #colbody {padding: 1px 20px;}
					#contenedor #contenido #columnas #colfooter {height:18px;}
					
			#contenedor #contenido #columnas .colder{float: right; width:50%; font-size: 0.75em;}
					#contenedor #contenido #columnas .colder h2 {color:red; padding:22px 20px 7px; font-size: 1.7em;}
					#contenedor #contenido #columnas .colder p {padding:0 20px 5px;}
					#contenedor #contenido #columnas .colder img {margin: auto; display:block;}
					
				/*formulario de portada*/			
					form.demo {margin: 0 auto;width: 215px;}
					form.demo fieldset{border:none;}
					form.demo fieldset legend {display:none;}
					form.demo fieldset label {float:left;width:100%;padding:5px 0;}
					form.demo fieldset input {color: #808080; font-family: "trebuchet ms", verdana;font-size: 1em; float:right;border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border: 1px solid #B0B0B0;}
					form.demo fieldset .botonera button.css3button {cursor: pointer; float:right; color: #fff; font-size: 0.8em; padding: 3px 10px 1px;background: -moz-linear-gradient(top,#f0adad 0%,#ff0000 10%,#ff3c00); background: -webkit-gradient(linear, left top, left bottom, from(#f0adad),color-stop(0.10, #ff0000),to(#ff3c00));border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;border: 0px solid #ffffff;-moz-box-shadow:0px 1px 2px rgba(000,000,000,0.6),inset 0px 0px 0px rgba(255,255,255,0);-webkit-box-shadow:0px 1px 2px rgba(000,000,000,0.6),inset 0px 0px 0px rgba(255,255,255,0);text-shadow:0px 0px 0px rgba(000,000,000,0),0px 0px 0px rgba(255,255,255,0);}
					form.demo fieldset .botonera button.css3button:hover {cursor: pointer; float:right; color: #fff; font-size: 0.8em; padding: 3px 10px 1px; 	background:green;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;border: 0px solid #ffffff;-moz-box-shadow:0px 1px 2px rgba(000,000,000,0.6),inset 0px 0px 0px rgba(255,255,255,0);-webkit-box-shadow:0px 1px 2px rgba(000,000,000,0.6),inset 0px 0px 0px rgba(255,255,255,0);text-shadow:0px 0px 0px rgba(000,000,000,0),0px 0px 0px rgba(255,255,255,0);}
					
					
		/*interior*/
		#menuint {margin: 30px auto; width: 230px; background:white; border-radius:14px; border: #CCCCCC solid 1px; float:left;}
		#menuint h3 {font-size:20px; color:red; padding:10px 15px;}
		#menuint .titulo {font-size:16px; color:red; padding:15px 0 5px;}
		#menuint ul {list-style:none; padding:0 15px 40px;}
		#menuint li {font-size:14px; margin:2px 0;}
		#menuint a {text-decoration:none; color:#808080;}
		#menuint a:hover {color:#009000;}
		#menuint img {margin: 20px 100px 0;}
		#menuintheader {} 
		#menuintbody {}
		#menuintfooter {}
		
		#portadaproductos { margin: 30px 0px 0px 20px;width: 696px; height:auto; float: left; background:white;  border-radius:14px; border: #CCCCCC solid 1px;}
		#portadaproductos h2 {font-size:30px; color:red; padding:0 20px;}
		#portadaproductos img {padding: 20px 0 20px;}
		#portadaproductos p {padding: 0 20px 30px; text-align:justify; font-size:0.9em;}
		
		#contproductos { margin: 30px 0px 0px 20px;width: 696px; height:auto; float: left; background:white;  border-radius:14px; border: #CCCCCC solid 1px;}
		#contproductos h2 {padding:10px; color:red;}
		#contproductos h4 {padding:0 20px 8px;}
		
		
					
						
		
		/*footer de la pagina*/
		
				#contenedor #contenido #footer #direccion{margin:7px 15px; float:left; font-family: Century Gothic; font-size: 0.5em; width: 485px;}
					#contenedor #contenido #footer #direccion a {color:red; text-decoration: none;  font-weight:bold; }
					#contenedor #contenido #footer #direccion a:hover {color:#333; text-decoration: none;  font-weight:bold; }
					#contenedor #contenido #footer #direccion address { font-style:normal;}
				#contenedor #contenido #footer #logogp{float:left; margin:0 40px;}
					#contenedor #contenido #footer #logogp img:hover{filter: alpha(opacity=75); opacity: .75;}
				#contenedor #contenido #footer #social{float:right; margin:5px 15px 0 0; font-family: Century Gothic; font-size: 0.5em; font-weight:bold;}
					#contenedor #contenido #footer #social dt { margin:0 auto;}
					#contenedor #contenido #footer #social dl { margin:0 auto;}
					#contenedor #contenido #footer #social  dl dd{display:inline; }
					#contenedor #contenido #footer #social dl dd a{}
					#contenedor #contenido #footer #social  dl dd  a:hover{filter: alpha(opacity=75); opacity: .75;}
			

		/*slider de la pagina*/
				
		h3 {margin: 0; padding: 7px 0 0 0; font-size: 16px;}
		#content {border-radius:10px; width: 900px; margin: 30px auto; padding: 20px; background: #FFF;	border: 1px solid #CCC;}
			div#feature_list {width: 900px; height: 240px; overflow: hidden; position: relative;}
			div#feature_list ul {position: absolute;top: 0;list-style: none;padding: 0;margin: 0;}
				ul#tabs {left: 0;z-index: 2;width: 320px;}
				ul#tabs li {font-size: 12px;font-family: Arial;}
				ul#tabs li img {padding: 5px;border: none;float: left;margin: 10px 10px 0 0;}
				ul#tabs li a {color: #222;text-decoration: none;display: block;padding: 10px;height: 60px;outline: none;}
				ul#tabs li a:hover {text-decoration: underline;}
				ul#tabs li a.current {background:url("../img/feature-tab-current.png");color: #FFF;}
				ul#tabs li a.current:hover {text-decoration: none;cursor: default;}
				ul#output {right: 0;width: 613px;height: 240px;position: relative;}
				ul#output li {position: absolute;width: 613px;height: 240px;}
				ul#output li a {position: absolute;bottom: 10px;right: 10px;padding: 8px 12px;text-decoration: none;font-size: 11px;color: #FFF;background: #000;-moz-border-radius: 5px;}
				ul#output li a:hover {background: #D33431;}		
		.clear {clear: both;line-height: 1px;font-size: 1px;}		
		
				
				
				
				
	 /* contenido paginas de producto*/
    h3.subinfo {color:red; font-size: 1.0em;border-bottom:1px solid #E8E8E8; width: 340px; padding: 0 0px 5px; margin:0 20px;}
    h3.subinfo #colbod {color:red; font-size: 1.0em;border-bottom:1px solid #E8E8E8; padding: 0px 20px 3px;}
		.colbod {float: left; width:100%; font-size: 0.75em; }
		.colbod h2 {color:red; font-size: 1.7em;border-bottom:1px solid #E8E8E8; margin: -5px 0 10px; padding: 7px 0 3px;}
		.colbod ul {padding:5px 20px 25px;}
		.colbod ul li {background: url(../img/iconlista.png) 0 3px no-repeat; list-style-type: none; padding: 0 0 5px 20px;}
      .colbod img.imginfo {float: right; margin: 0 60px 25px;}
      p.textoinfo {padding:0 20px 10px; font-size: 0.90em; }
      #contproductos h2.titulinfo {color:red; font-size: 1.7em; padding: 20px 20px 10px;}
	  iframe {padding:10px;}
				
				
	/*mapa web*/
		#nivel1 {margin: 30px 0 10px; width: 100%; height:40px; background:white; border-radius:14px; border: #CCCCCC solid 1px; float:right;}
		#nivel1 p {padding: 9px 10px;}
		
		#nivel2 {margin: 10px auto; width: 95%; height:40px; background:white; border-radius:14px; border: #CCCCCC solid 1px; float:right;}
		#nivel2 p {padding: 9px 10px;}
	
		#nivel3 {margin: 10px auto; width: 90%; height:40px; background:white; border-radius:14px; border: #CCCCCC solid 1px; float:right;}
		#nivel3 p {padding: 9px 10px;}
				
				

